.header {
  height: 34vw;
  margin: 30px auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  border-radius: 20px;
}
.header img {
  width: 100%;
  height: 34vw;
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
  background-color: transparent !important;
}
.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
  font-family: canto, serif;
  font-style: normal;
  font-weight: 400;
  background-color: transparent !important;
}
.header-contents p {
  color: white;
  font-size: 1vw;
  background-color: transparent !important;
}
.header-contents button a {
  background-color: transparent !important;
}
.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}
@media (max-width: 1050px) {
  .header {
    height: 38vw;
  }
  .header-contents {
    max-width: 45%;
  }
}
@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }
  .header-contents h2 {
    font-size: 18px;
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 2vw 4vw;
  }
  .header img {
    width: 100%;
    height: 40vw;
  }
  .header-contents button {
    padding: 1vw 2vw;
  }
}
